@{
    ViewBag.Title = "EditChannel";
}

@model List<RentItMvc.Models.GuiChannel>

<h2>EditChannel</h2>

<div class="row-fluid">

    @using (Html.BeginForm("ChangeChannel", "Home", null, FormMethod.Post, new { @class = "form-horizontal" }))
    { 
    }    

</div>