@model RentItMvc.Models.Channel

@{
    ViewBag.Title = "SelectChannel";
}

<fieldset>
    <legend>
        Channel
        <a class="btn" href="/Home/Main"><i class="icon-play"></i></a>
    </legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>