@model RentItMvc.Models.Channel

@section Left
{
    
}

@section Middle
{
    <fieldset>
    <legend>Channel</legend>
    
    <h1></h1>

    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
}

@section Right
{
    
}