@model List<RentItMvc.Models.GuiComment>

<hr style="margin-bottom: -5px;" />
<h4>Comments</h4>
<div class="comment-section">
    @foreach (RentItMvc.Models.GuiComment c in Model)
    {
        <div>
            @Html.Partial("Comment", c)
        </div>
    }
</div>
@Html.Partial("AddCommentForm", new RentItMvc.Models.GuiComment(), new ViewDataDictionary(new { channelId = ViewBag.ChannelId }))