@{
    ViewBag.Title = "CommentForm";
}

@model RentItMvc.Models.Comment


<div class="">
    <h5>@Model.UserName</h5>
    <p class="commentstyle">@Model.Content</p>
    <p class="commentstyle">@Model.Date</p>
</div>

