body {
    width: 1200px;
    height: auto;
}

.login {
    margin: 3px 3px 3px 3px;
}

#loginTitle{
    text-align: center;
    font-family: Arial;
}

.loginTitle{
    font-family: Arial;
    text-align: center;
    font-size: large;
    padding-right: 3px;
    border-bottom: 1px solid black;
    margin: 5px;
}

.loginLabel {
    Width: 100px;
    margin-right: 6px;
    margin-left: 6px;
    font-family: Arial;
    font-size: medium;   
}

.loginTextbox {
    clear: left;
    margin-right: 6px;
    font-family: Arial;
    font-size: medium;
}

.labelTextMargin {
    margin-bottom: 4px;
    margin-right: 50px;
    border: 1px solid black;
    float: left;
    width: 293px;
}

.clear {
    margin-bottom: 5px;
}

.logo {
    width: 25%;
    height: 50px;
    float: left;
}

.search {
    margin: 0px 0px;
    text-align: center;
    width: 50%;
    height: 50px;
    float: left;
    background-color: aqua;
}

.element {
    margin-top: 8px;
    margin-left: 3px;
}

.userInfo {
    width: 25%;
    height: 50px;
    float: left;
    text-align: center;
    background-color: red;
}

.streamPlayer {
    width: 25%;
    float: left;
}

.homeScreen {
    width: 50%;
    float: left;
}

.subscriptions {
    width: 25%;
    float:left;
}

.centered {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}