body {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.createBody{
    text-align: center;
    width: 100%;
}

.login {
    margin: 3px 3px 3px 3px;
}

.genreBox {
   
    float: left;
    }

.loginTitle{
    font-family: Arial;
    text-align: center;
    font-size: large;
    border-bottom: 1px solid black;
    margin: 5px;
}

.loginLabel {
    margin-right: 6px;
    margin-left: 6px;
    font-family: Arial;
    font-size: medium;   
}

.loginTextbox {
    clear: left;
    margin-right: 6px;
    font-family: Arial;
    font-size: medium;
}

textarea
{


resize: none;


}

.labelTextMargin {
    margin-bottom: 4px;
    margin-right: 50px;
    border: 1px solid black;
    float: left;
    width: 335px;
}

.channelTextMargin {
    margin: 0 auto;
    width: 600px;
}

.clear {
    margin-bottom: 5px;
    text-align: left;
    margin-right: 0px;
}

.logo {
    width: 25%;
    height: 50px;
    float: left;
}

.search {
    margin: 0px 0px;
    text-align: center;
    width: 50%;
    height: 50px;
    float: left;
    background-color: aqua;
}

.element {
    margin-top: 8px;
    margin-left: 3px;
}

.userInfo {
    width: 25%;
    height: 50px;
    float: left;
    text-align: center;
    background-color: red;
}

.streamPlayer {
    width: 25%;
    float: left;
}

.homeScreen {
    width: 50%;
    float: left;
}

.subscriptions {
    width: 25%;
    float:left;
}

.centered {
    margin: 0 auto;
    text-align: center;
    clear:both;
}

.upDownToke {
    margin: 0 5px;
}
