<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRentItService" />
        <binding name="BasicHttpBinding_IRentItService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rentit.itu.dk/RentIt21/RentItService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentItService"
        contract="RentItService.IRentItService" name="BasicHttpBinding_IRentItService" />
      <endpoint address="http://rentit.itu.dk/RentIt21/RentItService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentItService1"
        contract="RentItService.IRentItService" name="BasicHttpBinding_IRentItService1" />
    </client>
  </system.serviceModel>
</configuration>