@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AudioPlayer</title>
        <script type="text/javascript" src="~/Scripts/custom.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    </head>
    <body onload="initPlayerControls()">
        

        <div>
            <h2>AudioPlayer</h2>

            <audio controls preload="auto">
                <source src="http://ia600302.us.archive.org/17/items/1920sPop/BestThingsInLifeAreFree.ogg" type="audio/ogg"/>
                <source src="http://ia600302.us.archive.org/17/items/1920sPop/BestThingsInLifeAreFree_64kb.mp3" type="audio/mpeg"/>
                Your browser does not support the audio element.
            </audio>
        
            <h2>HTML5 Audio Player</h2>
            <audio id="player" preload="none">
                <source id="ogg" src="http://ia600302.us.archive.org/17/items/1920sPop/BestThingsInLifeAreFree.ogg" type="audio/ogg" />
                <source id="mp3" src="http://ia600302.us.archive.org/17/items/1920sPop/BestThingsInLifeAreFree_64kb.mp3" type="audio/mpeg"/>
            </audio>
            <div id="controls">
                <button id="playStop" class="btn pull-left" onclick="playAudio()">
                    <i id="playIcon" class="icon-play"></i>
                </button>
                <div id="slider" class="pull-left">
                    <i id="down" class="icon-volume-down"></i>
                    <input id="slide" type="range" min="0.0" max="1.0" step="0.01" value="0.5" onchange="updateSlider(this.value)"/>
                    <i id="up" class="icon-volume-up"></i>
                </div>
            </div>
        </div>
    </body>
</html>