@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="row-fluid">
    <div class="span3">
        @RenderSection("Left")
    </div>
    <div class="span6">
        @RenderSection("Middle")
    </div>
    <div class="span3">
        @RenderSection("Right")
    </div>
</div>