@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="row-fluid">
 <!--
    <div class="span3">
        @Html.Action("AudioPlayer", "Audio")
    </div>
 -->
    
    <div class="span9">
        @RenderBody()
    </div>
</div>