@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="row-fluid">
    <div class="span3">
        @Html.Action("AudioPlayer", "Shared")
    </div>
    <div class="span9">
        @RenderBody()
    </div>
</div>