@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            @Html.Action("Sidebar", "Shared")
        </div>
    </div>
    
    <div class="span9">
        @RenderBody()
    </div>
</div>