@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="row-fluid">
    <div class="span3">
        <h1>ASÆJASDlækj</h1>
        <h2>aædlkasæd</h2>
        <h3>aodjasldjasdk</h3>
    </div>
    
    <div class="span9">
        @RenderBody()
    </div>
</div>