@{
    ViewBag.Title = "Sidebar";
}

<ul class="nav nav-list">
    <li class="nav-header">
        Channel
    </li>
    <li>
        <a href="/Home/MyChannels?userId=@Session["userId"]">My channels</a>
    </li>
    <li>
        <a href="/Home/MySubscriptions?userId=@Session["userId"]">My subscriptions</a>
    </li>
    <li>
        <a href="#">Create channel</a>
    </li>
</ul>