@{
    ViewBag.Title = "Sidebar";
}

<ul class="nav nav-list">
    <li class="nav-header">
        Channel
    </li>
    <li>
        @Html.ActionLink("Featured channels", "FeaturedChannels", "Channel")
    </li>
    <li>
        @Html.ActionLink("My channels", "MyChannels", "Channel")
    </li>
    <li>
        @Html.ActionLink("My subscriptions", "MySubscriptions", "Channel")
    </li>
    <li>
        @Html.ActionLink("Create channel", "CreateChannel", "Channel")
    </li>
</ul>