@using RentItMvc.Models;

@model SelectGenreModel

<div id="genreDiv">
    <table>
        <tr>
            <td>
                @Html.ListBoxFor(model => model.AvailableGenres, new MultiSelectList(Model.AvailableGenres, "Id", "Name"), new { size = "10" })
            </td>
            <td>
                <!--<input class="btn btn-small btn-genre" id="btnAddAll" type="button" value=" >> " onclick="addallItems();" />-->
                <input class="btn btn-small btn-success btn-genre" style="width: 44px" id="btnAdd" type="button" value="  >  " onclick="addItem();" />
                <br/>
                <input class="btn btn-small btn-danger btn-genre" style="width: 44px" id="btnRemove" type="button" value="  <  " onclick="removeItem();" />
                <br/>
                <input class="btn btn-small btn-danger btn-genre" style="width: 44px" id="btnRemoveAll" type="button" value="<<<" onclick="removeallItems();" />
            </td>
            <td>
                @Html.ListBoxFor(model => model.ChosenGenres, new MultiSelectList(Model.ChosenGenres, "Id", "Name"), new { size = "10" })
            </td>
        </tr>
    </table>



</div>

<script type="text/javascript">
    $(function () {
        $('#GenreForm').submit(function () {
            $('#ChosenGenres option').prop('selected', true);
        });
    });

    function addItem() {
        $("#AvailableGenres option:selected").appendTo("#ChosenGenres");
        $("#ChosenGenres option").attr("selected", false);
        $("#AvailableGenres")[0].selectedIndex = 0;
    }
    function addallItems() {
        $("#AvailableGenres option").appendTo("#ChosenGenres");
        $("#ChosenGenres option").attr("selected", false);
        $("#ChosenGenres")[0].selectedIndex = 0;
    }
    function removeItem() {
        $("#ChosenGenres option:selected").appendTo("#AvailableGenres");
        $("#AvailableGenres option").attr("selected", false);
        $("#ChosenGenres")[0].selectedIndex = 0;
    }
    function removeallItems() {
        $("#ChosenGenres option").appendTo("#AvailableGenres");
        $("#AvailableGenres option").attr("selected", false);
        $("#AvailableGenres")[0].selectedIndex = 0;
    }
</script>
