.text-overflow {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.link-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

.sidebar-nav {
    padding: 9px 0;
}

.input-login {
    margin-right: 5px;
}

.input-field {
    line-height: 20px;
    width: 200px;
    margin-bottom: 20px;
}

.input-email {
    width: 190px;
    padding-right: 8px;
}

.input-password {
    width: 110px;
    padding-right: 8px;
}

.error-field {
    margin-top: 4px;
}

.btn-signInOut {
    width: 80px;
}

.txt-error {
    color: red;
    margin-left: 10px;
    font-size: 12px;
}

.subheading {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 21px;
    line-height: 1.5;
    color: #808080;
}

.footer {
    background-color: #f5f5f5;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 40px
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: silver;
    width: 75px;
    height:6px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    border-radius: 10px;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
}

#slider {
    margin-left: 15px;
    margin-top: 3px;
}

#down {
    margin-right: -5px;
    margin-top: 2px;
}

#up {
    margin-left: -2px;
    margin-top: 2px;
}

#playIcon, #stopIcon {
    margin-left: 7px;
    margin-top: 5px;
}

#playStop {
    margin-left: 5px;
    height: 28px;
    width: 28px;
}

#controls {
    margin-left: auto;
    margin-right: auto;
    background-color: #424242;
    width: 165px;
    height: 28px;
    border-radius: 5px;
}

/************** SCROLLBAR **************/
/*
::-webkit-scrollbar {
    width: 15px;
} /* this targets the default scrollbar (compulsory) */
/*
::-webkit-scrollbar-track {
    background-color: darkgray;
    border-radius: 10px;
} /* the new scrollbar will have a flat appearance with the set background color */
/*
::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 10px;
} /* this will style the thumb, ignoring the track */

/************** UPLOAD FILE FORM **************/

/* This styles the text box */
input[type="file"] { 
    position: relative /* this needs to be in place for the pseudo element to position properly */; 
    -webkit-appearance: none /* this is the key to clearing the default styling */; 
    width: 218px; 
    padding:0; 
    background-color: #ffffff; 
    border-radius: 4px;
    margin-top: 5px;
    height: 23px;
}

/* This removes the default file upload button */
input[type=file]::-webkit-file-upload-button { 
    width: 0; 
    padding: 0; 
    margin: 0; 
    -webkit-appearance: none; 
    border: none; 
}

.textbox {
    border: solid 1px #cccccc;
    border-radius: 4px;
    width: 218px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 28px;
}

.comment {
    border: solid 1px #cccccc;
    background-color: #fafafa;
    border-radius: 4px;
    margin-bottom: 6px;
    padding-left: 4px;
    width: 450px;
}

.comment-user {
    font-weight: bold;
    margin-right: 4px;
}

.comment-time {
    font-size: smaller;
    margin-top: 1px;
    margin-bottom: -1px;
}

.comment-text {
    font-size: smaller;
}

.comment-section {
    width: 475px;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.edit-account-label {
    margin-bottom: 10px;
    width: 225px;
}