.input-field {
    float: left;
    padding-top: 5px;
    line-height: 20px;
    width: 200px;
}

.input-email {
    width: 190px;
    padding-right: 8px;
}

.input-password {
    width: 110px;
    padding-right: 8px;
}

.error-field {
    float: left;
    width: 200px;
}

.btn-signInOut {
    width: 80px;
}

.txt-error {
    color: red;
    margin-left: 10px;
    font-size: 12px;
}