Requirement:
It should be possible for users with a channel to upload a track to it.

Domain concept:
A channel has tracks that the creator manages.

Dependencies:
The listen to channel requirement are depended on this requirement because the track to be played is determined by the rating.

Priority:
It is of essential importance, as the requirements depending on it is.