@{
    Layout = null;
}

@using System.Web.Optimization
@model Tuple<RentItMvc.Models.Audio, int>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AudioPlayer</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
</head>
<body>
    <div id="audioPlayer">
        <h2 style="text-align: center">AudioPlayer</h2>
        <audio id="player" preload="auto" autoplay="autoplay">
            <source id="ogg" type="audio/ogg" src="@Model.Item1.StreamUri"/>
            <source id="mp3" type="audio/mpeg" src="@Model.Item1.StreamUri"/>
        </audio>
        <div id="controls">
            <div id="playStop" class="pull-left" onclick="playAudio()">
                <i id="stopIcon" class="icon-stop icon-white"></i>
            </div>
            <div id="slider" class="pull-left">
                <i id="down" class="icon-volume-down icon-white"></i>
                <input id="slide" type="range" min="0.0" max="1.0" step="0.01" value="0.5" onchange="updateSlider(this.value)" />
                <i id="up" class="icon-volume-up icon-white"></i>
            </div>
        </div>
    </div>
    <div>
        @Html.Action("Last5Tracks", new { channelId = Model.Item1.ChannelId, userId = Model.Item2 })
    </div>
    @Scripts.Render("~/audio")
</body>
</html>
