@model List<RentItMvc.Models.GuiTrack>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LastTracks</title>
</head>
<body>
    <div>
        @foreach (var track in Model)
        {
            <table class="table">
                <tr>
                    <td>
                        @track.TrackName
                    </td>
                    <td>
                        <button class="btn btn-small">
                            <i class="icon-thumbs-up"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-small">
                            <i class="icon-thumbs-down"></i>
                        </button>
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
