<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRentItService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rentit.itu.dk/RentIt21/RentItService.svc/RentItServer.RentItService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentItService" contract="ServiceReference1.IRentItService" name="BasicHttpBinding_IRentItService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>