<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRentItService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rentit.itu.dk/RentIt21/RentItService.svc/RentItServer.RentItService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentItService"
                contract="ServiceReference1.IRentItService" name="BasicHttpBinding_IRentItService" />
        </client>
    </system.serviceModel>
</configuration>