@{
    ViewBag.Title = "CommentForm";
}

@model RentItMvc.Models.Comment

<div class="pull-left">
    <h3>@Model.UserName</h3>
    <h3>@Model.Date</h3>
</div>

<div>
    <p>@Model.Content</p>
</div>

